.logo {
    width: 68px;
    padding: 6px;
    background-color: azure;
    border-radius: 38px;
    @apply border-[#85CE1C] border-[2px]
}

.header-container {
    height: 5rem;
    display: flex;
    justify-content: center;
    background-color: var(--dark-primary-bg);
 
    @apply items-center  bg-[#080808] text-[#fff]
}

.logo-container {
    padding-left: 12px;
    width: 70%;
}

.header-title {
    width: 100%;
    color: var(--dark-primary-text);
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.25rem;


}